# Super Grub Disk - design.cfg
# Copyright (C) 2009,2010,2011,2012,2013,2014,2015  Adrian Gibanel Lopez.
#
# Super Grub Disk is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Super Grub Disk is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Super Grub Disk.  If not, see <http://www.gnu.org/licenses/>.

finaloption_tab_str="         "
export finaloption_tab_str
secondoption_prefixtab_str="   --  "
export secondoption_prefixtab_str
secondoption_postfixtab_str=" --  "
export secondoption_postfixtab_str
topbootmenu_prefix_str=" ---- "
export topbootmenu_prefix_str
topbootmenu_postfix_str=" ---- "
export topbootmenu_postfix_str
return_main_menu_prefix_str=" <-- "
export return_main_menu_prefix_str
three_dots_str="..."
export three_dots_str