# Super Grub Disk - menulstdetect.cfg
# Copyright (C) 2009,2010,2011,2012,2013,2014,2015  Adrian Gibanel Lopez.
#
# Super Grub Disk is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Super Grub Disk is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Super Grub Disk.  If not, see <http://www.gnu.org/licenses/>.

# This script detecs legacy menu.lst files and creates menu entries to allow
# the user to chose among the grub.cfg files found, then uses
# "legacy_configfile" to load the chosen menu.lst .

set option_title="menu.lst - "$"(GRUB legacy configuration files)"

function run_option {

    source "${sg2d_directory}/tools.cfg"

    insmod regexp

    menulst_found=false

    update_sg2d_devices
    for dev in ${sg2d_devices}; do
      getdevice menulst_device $dev
        for nlstpath in boot/grub/menu.lst grub/menu.lst ; do
          menulst="(${menulst_device})/${nlstpath}"
          if [ -e "$menulst" ]; then
              menulst_found=true

              menuentry "${finaloption_tab_str} $menulst" "$menulst_device" "$menulst" {
              menulst_device="$2"
              menulst="$3"

              root="$menulst_device"
              legacy_configfile "$menulst"
              }
          fi
        done

    done

    if [ "$menulst_found" != true ]; then
      menuentry "${finaloption_tab_str}"$"(No menu.lst file detected)" {
        sleep 1s
      }
    fi

}