# Red Hat Enterprise Linux (RHEL)
# NOTE: Since RHEL 7.5 the iso is larger than 4GB and no longer fits on FAT32
set ksfile="${isopath}/rhel/ks.cfg"
# inst.lang=en_US inst.keymap=fr
# ip=dhcp
# ip=192.168.1.10::192.168.1.1:255.255.255.0:s1.example.com:eth0:none
# nameserver=192.168.1.1
# inst.gpt
# inst.vnc inst.vncpassword=tototo
# inst.sshd
# bootdev=eth0
# inst.ks=http://server.mydomain.com/directory/ks.cfg inst.ks.sendmac
set rhelopts="quiet"

for isofile in $isopath/rhel/rhel-*-dvd.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    "^${isopath}/rhel/(rhel-([^-]+)-([^-]+)-([^-]+)-dvd\.iso)\$" "${isofile}"
  menuentry "RHEL ${version} ${arch} ${variant} Install" "${isofile}" "${isoname}" --class redhat {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    probe --set isouuid --fs-uuid (loop)
    linux (loop)/isolinux/vmlinuz root=live:UUID=${isouuid} iso-scan/filename=${isofile} inst.repo=file:///run/initramfs/live ${rhelopts}
    initrd (loop)/isolinux/initrd.img
  }
  menuentry "RHEL ${version} ${arch} ${variant} Rescue" "${isofile}" "${isoname}" --class redhat {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    probe --set isouuid --fs-uuid (loop)
    linux (loop)/isolinux/vmlinuz root=live:UUID=${isouuid} iso-scan/filename=${isofile} inst.repo=file:///run/initramfs/live ${rhelopts} rescue
    initrd (loop)/isolinux/initrd.img
  }
  menuentry "RHEL ${version} ${arch} ${variant} Install kickstart ks.cfg" "${isofile}" "${isoname}" --class redhat {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    probe --set isouuid --fs-uuid (loop)
    linux (loop)/isolinux/vmlinuz root=live:UUID=${isouuid} iso-scan/filename=${isofile} inst.repo=file:///run/initramfs/live ${rhelopts} inst.ks=hd:UUID=${rootuuid}:${ksfile}
    initrd (loop)/isolinux/initrd.img
  }
done
