# Mint
for isofile in $isopath/linuxmint/linuxmint-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:variant \
    --set 4:arch \
    "^${isopath}/linuxmint/(linuxmint-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Linux Mint ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class linuxmint {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/casper/vmlinuz file=/cdrom/preseed/linuxmint.seed boot=casper iso-scan/filename=${isofile} quiet splash --
    initrd (loop)/casper/initrd.lz
  }
done
# Debian Edition
for isofile in $isopath/linuxmint/lmde-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:variant \
    --set 4:arch \
    "^${isopath}/linuxmint/(linuxmint-(.+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Linux Mint Debian Edition (LMDE) ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class linuxmint {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/live/vmlinuz boot=live findiso=${isofile} live-config live-media-path=/live quiet splash --
    initrd (loop)/live/initrd.lz
  }
done
