# Debian GNU/Linux
for isofile in $isopath/debian/debian-live-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:arch \
    --set 4:variant \
    "^${isopath}/debian/(debian-live-([^-]+)-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Debian Live ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class debian {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/live/vmlinuz-* boot=live findiso=${isofile} components
    initrd (loop)/live/initrd.img-*
  }
done
