# Clonezilla
for isofile in $isopath/clonezilla/clonezilla-live-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:arch \
    "^${isopath}/clonezilla/(clonezilla-live-(.+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Clonezilla Live ${version} ${arch}" "${isofile}" "${isoname}" --class clonezilla {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/live/vmlinuz boot=live findiso=${isofile} union=overlay components quiet toram=live,syslinux
    initrd (loop)/live/initrd.img
  }
done
