# Manjaro
for isofile in $isopath/manjaro/manjaro-*-stable-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    "^${isopath}/manjaro/(manjaro-([^-]+)-([^-]+)-stable-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Manjaro ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class manjaro {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/boot/vmlinuz-x86_64 img_dev=/dev/disk/by-uuid/${rootuuid} img_loop=${isofile}
    initrd (loop)/boot/intel_ucode.img (loop)/boot/amd_ucode.img (loop)/boot/initramfs-x86_64.img
  }
done
