# Porteus
# NOTE: Doesn't support VirtIO, set block device to SATA or IDE when testing
for isofile in $isopath/porteus/Porteus-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:variant \
    --set 3:version \
    --set 4:arch \
    "^${isopath}/porteus/(Porteus-([^-]+)-v([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Porteus ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class porteus {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/boot/syslinux/vmlinuz from=${isofile}
    initrd (loop)/boot/syslinux/initrd.xz
  }
done
