# Sabayon
for isofile in $isopath/sabayon/Sabayon_Linux_*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:arch \
    --set 4:variant \
    "^${isopath}/sabayon/(Sabayon_Linux_([^_]+)_([^_]+)_([^_]+)\.iso)\$" "${isofile}"
  menuentry "Sabayon ${version} ${arch} ${variant}" "${isofile}" "${isoname}" --class sabayon {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/boot/sabayon isoboot=${isofile} overlayfs cdroot splash quiet
    initrd (loop)/boot/sabayon.igz
  }
done
