# Kali
for isofile in $isopath/kali/kali-linux-*.iso; do
  if [ ! -e "$isofile" ]; then break; fi
  regexp \
    --set 1:isoname \
    --set 2:version \
    --set 3:arch \
    "^${isopath}/kali/(kali-linux-([^-]+)-([^-]+)\.iso)\$" "${isofile}"
  menuentry "Kali ${version} ${arch}" "${isofile}" "${isoname}" --class kali {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/live/vmlinuz-*-amd64 findiso=${isofile} boot=live components splash username=root hostname=kali
    initrd (loop)/live/initrd.img-*-amd64
  }
  menuentry "Kali ${version} ${arch} (forensic mode)" "${isofile}" "${isoname}" --class kali {
    set isofile=$2
    set isoname=$3
    echo "Using ${isoname}..."
    loopback loop $isofile
    linux (loop)/live/vmlinuz-*-amd64 findiso=${isofile} boot=live components splash username=root hostname=kali noswap noautomount
    initrd (loop)/live/initrd.img-*-amd64
  }
done
